
.DS_Store
build
.git
*.egg-info
dist
output/*
!output/val-*
data/*
!data/get_coco_dataset.sh
backup
weights/*.weights
weights/*.conv.*
__pycache__
checkpoints/
darknet53.conv.74

.vscode/
logs/

.python-version
